@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #2796F8;
    --secondary-color: #000000;
    --tertiary-color: #FFFFFF;
}

@theme{
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-tertiary: var(--tertiary-color);
}

::-webkit-scrollbar {
 width: 8px;
}

/* Track (this replaces most grey) */
::-webkit-scrollbar-track {
 background: var(--secondary-color); /* black */
}

/* Thumb (the moving part) */
::-webkit-scrollbar-thumb {
 background: var(--primary-color); /* gold */
 border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
 background: var(--primary-color);
}

.wallet-adapter-modal-wrapper {
  background: var(--secondary-color) !important;
}

.wallet-adapter-button-trigger {
    background-color: var(--primary-color) !important;
    border-radius: 50px !important;
}