@import "tailwindcss";

/* #hero{
    background-image: url(../public/img1.jpg);
}

@media (max-width : 640px) {
    #hero{
        background-color: #072542;
        background-image: none;
    }
} */

:root{
    --primary-color: #D78821;
    --secondary-color: #000000;
    --tertiary-color: #FFFFFF;
}

@theme{
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-tertiary: var(--tertiary-color);
}